path_SLC         =  /scratch/projects/insarlab/yzhang1/KyushuT423F620_650AlosA/SLC
Mdate            =  070610
Sdate            =  070726
DEM              =  /nethome/yxc773/insarlab/DEMDIR/Kasant10f122_Gamma/Kasant10f122_Gamma.dem
path_process     =   /nethome/yxc773/yunmeng/PyGAMMA/TEST





